---
interface Props {
    btnType?: 'white' | 'transparent';
}

const {btnType = 'black'} = Astro.props;
---

<div class={"btn btn-" + btnType}>
    <slot/>
</div>

<style lang="scss" is:global>
    .btn {
        cursor: pointer;
        font-family: BrandonGrotesque;
        font-size: 16px;
        padding: 10px 20px;

        &.btn-black {
            color: white;
            background-color: black;
        }

        &.btn-white {
            color: black;
            border: 1px solid black;
            background-color: white;
        }

        &.transparent {
            color: black;
            border: 1px solid black;
            background-color: transparent;
        }
    }

</style>