---
interface Props {
    btnType?: 'white' | 'transparent';
}

const {btnType = 'black'} = Astro.props;
---

<div class={"btn btn-" + btnType}>
    <slot/>
</div>

<style lang="scss" is:global>
    :root {
        --btn-clr-dark: var(--clr-dark);
        --btn-clr-light: var(--clr-light);
        --btn-clr-med: var(--clr-medium);
    }


    .btn {
        cursor: pointer;
        font-family: BrandonGrotesque;
        font-size: 16px;
        padding: 10px 20px;

        overflow: hidden;
        position: relative;
        z-index: 1;

        -webkit-transition: color 0.3s;
        transition: color 0.3s;
        border: 1px solid;
        border-color: var(--btn-clr-dark);

        user-select: none;

        &::before,
        &::after {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            //bottom: 100%;
            //left: 0;
            bottom: 0;
            left: 100%;
            z-index: -1;
            -webkit-transition: -webkit-transform 0.3s;
            transition: transform 0.3s;
            -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
            transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
        }

        &::before {
            background-color: var(--btn-clr-med);
        }

        &:hover::before,
        &:hover::after {
            //-webkit-transform: translate3d(0, 100%, 0);
            //transform: translate3d(0, 100%, 0);
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
        }

        &:hover::after {
            -webkit-transition-delay: 0.175s;
            transition-delay: 0.175s;
        }

        &.btn-black {
            color: var(--btn-clr-light);
            background-color: var(--btn-clr-dark);

            &::after {
                background-color: var(--btn-clr-light);
                color: var(--btn-clr-dark);
            }

            &:hover {
                color: var(--btn-clr-dark);
            }
        }

        &.btn-white {
            color: var(--btn-clr-dark);
            border: 1px solid;
            border-color: var(--btn-clr-dark);;
            background-color: var(--btn-clr-light);

            &::after {
                background-color: var(--btn-clr-dark);
                color: var(--btn-clr-light);
            }

            &:hover {
                color: var(--btn-clr-light);
            }
        }

        &.btn-transparent {
            border: none;
            border-bottom: 2px solid transparent;
            color: var(--btn-clr-light);
            background-color: transparent;

            &::after {
                border-color: var(--btn-clr-dark);
                background-color: var(--btn-clr-dark);
                color: var(--btn-clr-light);
            }

            &:hover {
                color: var(--btn-clr-light);
            }
        }
    }

</style>
