---
interface Props {
    btnType?: 'white' | 'transparent';
}

const {btnType = 'black'} = Astro.props;
---

<button class="button button--aylen button--border-thick button--inverted button--text-upper button--size-s">
    <slot/>
</button>

<style lang="scss" is:global>
//<style lang="scss">
    /* Box colors */
    .bg-1 {
        background: #ECEFF1;
        color: #37474f;
    }

    .bg-2 {
        background: #7986cb;
        color: #ECEFF1;
    }

    .bg-3 {
        background: #37474f;
        color: #fff;
    }

    /* Common button styles */
    .button {
        float: left;
        //min-width: 150px;
        //max-width: 250px;
        display: block;
        //margin: 1em;
        padding: 1em 1.4em;
        border: none;
        background: none;
        color: inherit;
        vertical-align: middle;
        position: relative;
        z-index: 1;
        -webkit-backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
    }

    .button:focus {
        outline: none;
    }

    .button > span {
        vertical-align: middle;
    }

    /* Text color adjustments (we could stick to the "inherit" but that does not work well in Safari) */
    .bg-1 .button {
        color: #37474f;
        border-color: #37474f;
    }

    .bg-2 .button {
        color: #ECEFF1;
        border-color: #ECEFF1;
    }

    .bg-3 .button {
        color: #fff;
        border-color: #fff;
    }

    /* Sizes */
    .button--size-s {
        font-size: 15px;
    }

    .button--size-m {
        font-size: 16px;
    }

    .button--size-l {
        font-size: 18px;
    }

    /* Typography and Roundedness */
    .button--text-upper {
        //letter-spacing: 2px;
        //text-transform: uppercase;
    }

    .button--text-thin {
        font-weight: 300;
    }

    .button--text-medium {
        font-weight: 500;
    }

    .button--text-thick {
        font-weight: 600;
    }

    .button--round-s {
        border-radius: 5px;
    }

    .button--round-m {
        border-radius: 15px;
    }

    .button--round-l {
        border-radius: 40px;
    }

    /* Borders */
    .button--border-thin {
        border: 1px solid;
    }

    .button--border-medium {
        border: 2px solid;
    }

    .button--border-thick {
        border: 3px solid;
    }

    /* Individual button styles */


    /* Aylen */
    .button.button--aylen {
        background: #fff;
        color: #37474f;
        overflow: hidden;
        -webkit-transition: color 0.3s;
        transition: color 0.3s;
    }

    .button--aylen.button--inverted {
        background: black;
        color: #fff;
    }

    .button--aylen::before,
    .button--aylen::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 100%;
        left: 0;
        z-index: -1;
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
        -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
        transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    }

    .button--aylen::before {
        //background: #7986cb;
        background: gray;
    }

    .button--aylen::after {
        background: white;
        color: black;
    }

    .button--aylen:hover {
        //color: #fff;
        color: black;
    }

    .button--aylen:hover::before,
    .button--aylen:hover::after {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    .button--aylen:hover::after {
        -webkit-transition-delay: 0.175s;
        transition-delay: 0.175s;
    }

</style>