---
import Button from "../button/Button.astro";
---

<div class="hero-wr">
    <div class="hero-wr-gap"></div>
    <div class="hero">
        <div class="hero-bg-box"></div>
        <div id="hero-video-box" class="hero-video-box">
            <div class="hero-iframe-wr">
                <iframe id="hero-video-frame" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" title="__01_loop_introvideo _DESKTOP 16-9" data-ready="true" src="https://player.vimeo.com/video/320459562?title=0&amp;byline=0&amp;portrait=0&amp;muted=1&amp;autoplay=1&amp;loop=1&amp;background=1&amp;app_id=122963"></iframe>
            </div>
        </div>

        <div class="hero-txt-box">
            <div class="hero-title-row">BETTER TIRES FOR ELECTRIC VEHICLES</div>
            <div class="hero-txt-row">More EV range, less tire pollution.</div>
            <!--        <div class="hero-btn-row">
                        <Button>Watch Video</Button>
                        <Button btnType="white">Contact Us</Button>
                    </div>-->
        </div>

        <div class="hero-logo-box">
        </div>
    </div>
</div>

<script>

    const videoBox = document.getElementById('hero-video-box');
        const videoFrame = document.getElementById('hero-video-frame');

        videoFrame.onload = function () {
            setTimeout(() => {
                videoBox.classList.add('play');
                }, 300);
            };

</script>

<style lang="scss" is:global>
    .hero {
        height: 100vh;

        .hero-bg-box {
            position: absolute;
            width: 100%;
            height: 100%;

            background-position: center center;
            background-size: cover;
        }

        .hero-video-box {
            position: absolute;
            width: 100%;
            height: 100%;

            left: 0;
            right: 0;

            margin: auto;

            box-sizing: border-box;

            overflow: hidden;

            opacity: 0;
            transition: opacity 2s;

            &.play {
                opacity: 1;
            }

            .hero-iframe-wr {
                position: relative;
                //border: 2px solid green;

                width: 100%;
                height: 100%;
                //padding-bottom: 56.25%;
            }

            iframe {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translatex(-50%) translatey(-50%);

                height: 100%;
                width: 177.77777778vh;
                min-width: 100.1%;
                min-height: 56.25vw;

                //filter: saturate(2);
            }
        }

        .hero-txt-box {

            position: absolute;
            padding-left: 90px;
            padding-right: 90px;
            top: 50%;
            transform: translatey(-55%);
            max-width: 800px;

            @media only screen and (max-width: 1100px) {
                padding-left: 25px;
                padding-right: 25px;
                max-width: 660px;
            }

            .hero-title-row {
                color: var(--clr-lightest);
                font-weight: bold;
                line-height: 1.4;
                padding-bottom: 10px;

                font-size: 51px;
                font-size: min(8vw, 51px);
            }

            .hero-txt-row {
                color: var(--clr-lightest);
                font-size: 30px;
                font-size: min(6vw, 30px);
            }

            .hero-btn-row {
                display: flex;

                .btn {
                    margin-right: 15px;
                }
            }
        }

        .hero-logo-box {
            position: absolute;
            background-image: url("/img/B-Corp-Logo-White-RGB.png");
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
            right: 90px;
            bottom: 40px;
            width: 60px;
            height: 100px;

            @media only screen and (max-width: 1100px) {
                right: 25px;
                bottom: 25px;
            }
        }
    }

</style>
