---
import Button from "../button/Button.astro";
import IconArrowShort from "../icons/IconArrowShort.astro";
---

<div class="bcorp-wr">
    <div class="bcorp-txt">ENSO is the only Certified B-Corporation in the tire industry</div>
    <div class="bcorp-btn-row">
        <Button btnType="white" linkUrl="https://www.bcorporation.net/en-us/find-a-b-corp/company/enso/">
            Find out more
            <IconArrowShort/>
        </Button>
    </div>
</div>

<style lang="scss" is:global>
    .bcorp-wr {
        padding: 90px;

        background-color: var(--clr-main);

        .bcorp-txt {
            font-size: 44px;
            font-size: max(min(3.3vw, 44px), 20px);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-family: "BrandonGrotesque";
            color: var(--clr-lightest);

            @media only screen and (max-width: 1100px) {
                white-space: normal;
            }
        }

        .bcorp-btn-row {
            margin-top: 20px;
            display: flex;

            .btn {
                font-weight: 700;
                font-size: 18px;
            }

            .btn.btn-white:hover {
                border-color: var(--clr-lightest);
            }

            .btn.btn-white::after {
                background-color: var(--clr-main);;
            }
        }

        @media only screen and (max-width: 1100px) {
            /*padding-left: 25px;*/
            /*padding-right: 25px;*/
            padding: 45px 25px;
        }
    }
</style>
