<div class="trial">
    <div class="rotate-box">
        <img class="rotate" src="https://images.unsplash.com/photo-1603695454344-12df53ab0c11?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="Image description" loading="lazy">
    </div>
</div>


<style lang="scss" is:global>
    .trial {
        height: 60vh;
        img {
            max-width: 400px;
            max-height: 400px;
        }
    }

    .rotate-box {
        perspective: 3000px;
    }

    .rotate {
        transform: rotateX(10deg) rotateY(-18deg) rotateZ(3deg);
        border-radius: 0.375em;
        box-shadow: 2px 10px 30px hsla(0, 0%, 0%, 0.25);
        transition: 2s;
    }

    .rotate-box:hover .rotate {
        transform: rotate(0);
    }

</style>