---
import Layout from "../layouts/Layout.astro";
import Trial from "../components/trial/Trial.astro";
import Header from "../components/header/Header.astro";
import Hero from "../components/hero/Hero.astro";
import Slider3 from "../components/slider/Slider3.astro";
import BCorp from "../components/bcorp/BCorp.astro";
import Video from "../components/video/Video.astro";
import Taxi from "../components/taxi/Taxi.astro";
import NewsMobile from "../components/news/NewsMobile.astro";
import Team from "../components/team/Team.astro";
import SignUp from "../components/signup/SignUp.astro";
import Footer from "../components/footer/Footer.astro";
import SlidesStatic from "../components/slider/SlidesStatic.astro";
---

<Layout title="Enso">
    <Header/>
    <main>
        <Hero/>
        <SlidesStatic/>
        <Video/>
        <Taxi/>
        <BCorp/>
        <NewsMobile/>
        <SignUp/>
    </main>
    <Footer/>

    <style lang="scss" is:global>
        div {
            //border: 1px solid red;
        }
    </style>
</Layout>
