---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header/Header.astro";
import Footer from "../components/footer/Footer.astro";
import Terms from "../components/terms/Terms.astro";
---

<Layout title="Enso">
    <Header hType="transparent"/>
    <main>
        <Terms/>
    </main>
    <Footer/>
</Layout>
