---
import Button from "../button/Button.astro";
import AButton from "../button/AButton.astro";
import NavButton from "../button/NavButton.astro";

interface Props {
    hType?: string;
}

const {hType = ''} = Astro.props;
---

<div class={"header " + hType}>
    <div class="header-box">
        <!-- <div class="logo">
            <Logo />
        </div> -->

        <!--<a href="/enso/" class="logo">-->
        <!--TODO: BASE_URL-->
        <a href="/enso/" class="logo">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 935.433044 175.748032" fill="currentColor">
                <g>
                    <path
                            class="Logo_light__3e3ro"
                            d="M580.761841,4.866946c0-0.9336-0.10553-1.9366-1.351624-3.021   c-0.985291-0.8448-1.929688-0.6831-3.251892-0.584c-10.477539,0.7851-22.212891,5.581-31.150391,14.6929   c-12.101624,12.3403-13.468811,27.600502-13.8125,29.975502c-0.135803,0.923897,0.11908,2.451698,0.811523,3.246597   c1.081055,1.2491,2.068359,1.3531,2.998962,1.3531h16.539124c0.850586,0,1.941406-0.205097,2.545898-1.122101   c0.523376-0.792,1.094727-3.3228,1.138672-3.5327c1.197205-5.619198,2.929749-8.953197,6.871155-13.216297   c3.467651-3.753002,8.234253-6.214901,13.998962-7.337002c0.226501-0.0439,2.507812-0.4121,3.353516-1.0429   c0.68158-0.505899,1.308594-1.1992,1.308594-2.3379V4.866946z"
                    ></path>
                    <path
                            class="Logo_light__3e3ro"
                            d="M584.515747,76.328346c-1.174805-0.103004-2.460938,0.194298-3.157227,0.821297   c-0.831055,0.721199-1.307556,1.759705-1.307556,2.851105v16.789001c0,1.954597,1.029297,3.0821,3.054565,3.351593   c14.408203,1.920906,21.654297,12.935005,22.555725,23.1045c0,0.023407,0.178711,2.310501,0,4.459007   c-1.051697,12.307602-10.04303,21.541-22.551697,23.142502c-2,0.253891-3.058594,1.428299-3.058594,3.39209v16.671906   c0,1.0923,0.476501,2.130402,1.30365,2.846207c0.63385,0.573196,1.780212,0.810089,2.732422,0.810089   c0.146484,0,0.289978-0.006393,0.424805-0.01709c23.759827-1.939011,45.013672-21.69101,45.013672-49.892105   C629.525513,99.241447,608.899536,78.459648,584.515747,76.328346"
                    ></path>
                    <path
                            class="Logo_light__3e3ro"
                            d="M844.99115,1.518246c-47.517578,0-86.176697,38.876999-86.176697,86.660202    c0,48.320305,37.855408,86.168007,86.176697,86.168007c48.459045,0,86.41803-37.847702,86.41803-86.168007    C931.40918,40.395245,892.641602,1.518246,844.99115,1.518246z M845.111328,150.536346    c-34.575256,0-62.603577-28.027802-62.603577-62.603004c0-34.575695,28.02832-62.604496,62.603577-62.604496    c34.575134,0,62.603455,28.028801,62.603455,62.604496C907.714783,122.508545,879.686462,150.536346,845.111328,150.536346z"
                    ></path>
                    <path
                            class="Logo_light__3e3ro"
                            d="M406.30368,147.227753c-0.248993-1.839813-2.203094-3.712906-3.050781-4.636703   c-0.846222-0.923401-118.635223-126.979004-123.320312-131.963409c-4.683594-4.9824-7.824707-7.667-9.039001-8.5117   c-0.661682-0.4609-1.907806-0.7651-3.089905-0.7651c-1.019989,0-2.220673,0.1821-3.307098,1.375   c-1.218781,1.3393-1.066895,3.3252-1.066895,5.1391c0,0.7129-0.00589,161.050797-0.00589,161.050797   c0,3.4263,2.190887,4.974106,5.173889,4.974106h13.801208c2.98288,0,5.166992-1.547806,5.166992-4.974106   c0,0-0.002899-110.2827-0.002899-110.367691c0-0.973099,0.260712-1.617199,1.174805-1.820301   c0.915009-0.203598,1.721222,0.434101,2.81488,1.528301c1.09433,1.0938,105.934113,112.808105,107.296906,114.2827   c1.744202,1.886307,4.127014,1.732498,5.768097,0.963898c1.513214-0.707993,1.975098-1.968689,1.975098-3.684601V151.59494   C406.592773,150.806839,406.552673,149.068039,406.30368,147.227753"
                    ></path>
                    <path class="Logo_light__3e3ro" d="M116.40139,1.361546H8.652295c-3.4257,0-4.9726,2.1899-4.9726,5.1743v13.7998   c0,2.9839,1.5469,5.167,4.9726,5.167H116.40139c3.4272,0,4.974098-2.189899,4.974098-5.1738V6.529046   C121.375488,3.544646,119.82859,1.361546,116.40139,1.361546"></path>
                    <path
                            class="Logo_light__3e3ro"
                            d="M116.40139,75.629646H8.652295c-3.4257,0-4.9726,2.191399-4.9726,5.174301v13.800797   c0,2.982903,1.5469,5.167,4.9726,5.167H116.40139c3.4272,0,4.974098-2.191002,4.974098-5.173897V80.796646   C121.375488,77.813644,119.82859,75.629646,116.40139,75.629646"></path>
                    <path
                            class="Logo_light__3e3ro"
                            d="M116.40139,149.898148H8.652295c-3.4257,0-4.9726,2.190399-4.9726,5.174301v13.800797   c0,2.982895,1.5469,5.167007,4.9726,5.167007H116.40139c3.4272,0,4.974098-2.190903,4.974098-5.174805V155.06514   C121.375488,152.082245,119.82859,149.898148,116.40139,149.898148"></path>
                </g>
            </svg>
        </a>

        {
            hType ?
                    <div class="header-links-box">
                        <!--<NavButton btnType="transparent" targetBlank={false} linkUrl="/enso/" goToSel=".slider">BACK</NavButton>-->
                        <!--TODO: BASE_URL-->
                        <NavButton btnType="transparent" targetBlank={false} linkUrl="/enso/" goToSel=".slider">BACK</NavButton>

                    </div>
                :
                    <div class="header-links-box">
                        <div class="header-links-burger">
                            <div></div>
                        </div>
                        <NavButton btnType="transparent" goToSel=".slider">ABOUT</NavButton>
                        <NavButton btnType="transparent" goToSel=".video">VIDEO</NavButton>
                        <NavButton btnType="transparent" goToSel=".news-box">NEWS</NavButton>
                        <NavButton btnType="transparent" goToSel=".signup">CONTACT</NavButton>
                    </div>
        }

        <!--
                <div class="contact-btn-box">
                    <Button>Contact Us</Button>
                </div>
        -->
    </div>
</div>

<script>

    const initMenu = () => {
        const menuBox = document.querySelector('.header-links-box');
        const burgerBtn = document.querySelector('.header-links-burger');
        const navBtns = menuBox.querySelectorAll('.nbtn');

        if (burgerBtn)
            burgerBtn.addEventListener('click', () => {
                if (menuBox.classList.contains('play')) {
                    menuBox.classList.remove('play');
                } else {
                    menuBox.classList.add('play');
                }
            });

        navBtns.forEach(btn => {
            btn.addEventListener('click', () => {
                if (menuBox.classList.contains('play'))
                    menuBox.classList.remove('play');
            });
        });
    }

    initMenu();

</script>

<style lang="scss" is:global>
    $header-bg: transparent;
    $logo-color: var(--clr-lightest);

    .header {
        position: absolute;
        width: 100%;

        background-color: transparent;

        $header-vertical-padding: 30px;
        padding-top: $header-vertical-padding;
        padding-bottom: $header-vertical-padding;

        z-index: 1;

        .header-box {
            min-height: 60px;

            margin-left: 90px;
            margin-right: 90px;

            transition: margin .5s;

            @media only screen and (max-width: 1100px) {
                margin-left: 25px;
                margin-right: 25px;
            }

            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {
                display: block;
                transition: none;

                svg,
                img {
                    transition: none;
                    width: 200px;
                    color: $logo-color;
                    display: block;
                }
            }
        }

        .header-links-box {
            display: flex;
            /*margin-right: auto;*/
            margin-left: 50px;

            transition: all .5s;

            .nbtn {
                transition: margin .5s;
                margin-left: 50px;
            }

            .header-links-burger {
                display: none;

                margin-top: 10px;
                width: 40px;
                height: 40px;
                margin-left: auto;
                position: relative;
                cursor: pointer;

                &:before,
                &:after,
                > div {
                    content: "";
                    position: absolute;
                    margin: auto;
                    display: block;
                    background-color: var(--clr-light);
                    width: 100%;
                    height: 5px;
                    border-radius: 3px;
                    transform: rotate(0);
                    transition: all .3s;
                }

                > div {
                    top: 0;
                    bottom: 0;
                }

                &:before {
                    top: 0;
                }

                &:after {
                    bottom: 0;
                }

            }

            @media only screen and (max-width: 1100px) {
                margin-left: 25px;

                .nbtn {
                    margin-left: 25px;
                }
            }

            @media only screen and (max-width: 768px) {

                top: 0;
                right: 0;
                padding: 25px;
                position: absolute;
                flex-direction: column;

                //backdrop-filter: blur(10px);
                //border: 1px solid var(--clr-dark);

                .nbtn {
                    display: none;
                }

                .header-links-burger {
                    display: block;
                    position: absolute;
                    top: 25px;
                    right: 25px;
                }

                &.play {
                    background-color: rgba(0, 0, 0, 1);
                    width: 100%;
                    height: 100vh;
                    overflow: hidden;
                    align-items: center;
                    justify-content: center;

                    .header-links-burger {
                        > div {
                            opacity: 0;
                        }

                        &:before {
                            top: 17px;
                            transform: rotate(45deg);
                        }

                        &:after {
                            bottom: 18px;
                            transform: rotate(-45deg);
                        }
                    }

                    .nbtn {
                        margin-top: 15px;
                        margin-bottom: 15px;
                        display: block;
                        font-size: 40px;
                    }
                }

            }
        }
    }

    @media only screen and (max-width: 500px) {
        .header {

            .header-box {
                .logo {
                    svg,
                    img {
                    }
                }
            }

            .header-links-box {
                .nbtn {
                }
            }
        }
    }

    .header.dark {
        background-color: var(--clr-dark);
    }

    .header.transparent,
    .header.white {
        background-color: #fff;

        .header-box {
            .logo {
                svg {
                    color: var(--clr-dark);
                }
            }
        }

        .header-links-box {
            .nbtn {
                color: var(--clr-dark);

                &:hover {
                    color: var(--clr-light);
                }
            }
        }
    }

    .header.transparent {
        background-color: rgba(255, 255, 255, .7);
    }
</style>