<div class="video" id="video-player-wr">
    <div id="video-player-box" class="player-box hidden">

        <video id="video-player" class="player" poster="/img/video-bg.png">
            <!--TODO: BASE_URL-->
            <!--<source src="/enso/video/ENSO-CorporateVideo.mp4" type="video/mp4">-->
            <source src="/video/ENSO-CorporateVideo.mp4" type="video/mp4">
        </video>

        <div id="video-close-cta" class="video-close"></div>

    </div>

    <div id="video-play-cta" class="video-cta-box">
        <div>PLAY</div>
    </div>

</div>

<script>

    const initVideo = () => {
        const videoPlayerBox = document.getElementById('video-player-box');
        const videoPlayer = document.getElementById('video-player');
        const playBtn = document.getElementById('video-play-cta');
        const closeBtn = document.getElementById('video-close-cta');

        playBtn.addEventListener('click', () => {
            videoPlayerBox.classList.remove('hidden');
            videoPlayer.play();
            videoPlayer.setAttribute('controls', 'controls');
            playBtn.classList.add('hidden');
            // closeBtn.classList.remove('hidden');
        });

        const closePlayer = () => {
            playBtn.classList.remove('hidden')
            videoPlayer.pause();
            videoPlayer.removeAttribute('controls');
            videoPlayerBox.classList.add('hidden');
            // closeBtn.classList.add('hidden');
        }

        videoPlayer.addEventListener('ended', closePlayer);
        closeBtn.addEventListener('click', closePlayer);
    }

    initVideo();

    // MAIN PART FOR THE VIDEO AND PLAY BUTTON

    const videoContainer = document.getElementById("video-player-wr");
    const playButton = document.getElementById("video-play-cta");
    const video = document.getElementById("video-player");

    videoContainer.addEventListener("mousemove", function (event) {
        const containerRect = videoContainer.getBoundingClientRect();
        const mouseX = event.clientX - containerRect.left;
        const mouseY = event.clientY - containerRect.top;

        const buttonWidth = playButton.offsetWidth;
        const buttonHeight = playButton.offsetHeight;
        const buttonX = mouseX - buttonWidth / 2;
        const buttonY = mouseY - buttonHeight / 2;

        const maxButtonX = containerRect.width - buttonWidth;
        const maxButtonY = containerRect.height - buttonHeight;
        playButton.style.left = Math.min(Math.max(buttonX, 0), maxButtonX) + "px";
        playButton.style.top = Math.min(Math.max(buttonY, 0), maxButtonY) + "px";
    });

    videoContainer.addEventListener("mouseleave", function () {
        playButton.style.transition = '';
        setTimeout(function () {
            playButton.style.left = "50%";
            playButton.style.top = "50%";
            playButton.style.transform = "translate(-50%, -50%)";
        }, 50);
    });

    videoContainer.addEventListener("mouseenter", function () {
        playButton.style.transform = "translate(0, 0)";
        // playButton.style.transition = 'none';
    });


</script>

<style lang="scss" is:global>
    .video {
        height: 80vh;
        min-height: 440px;

        background-image: url("/img/video-bg-new.png");
        background-position: center center;
        background-size: cover;

        position: relative;

        .player-box {
            opacity: 1;
            transition: opacity .7s;
            background-color: var(--clr-darker);

            position: fixed;
            height: 100vh;
            width: 100%;
            top: 0;
            left: 0;

            z-index: 10;

            .player {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }

            &.hidden {
                opacity: 0;
                z-index: -1;
            }
        }

        .video-cta-box {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translatex(-50%) translatey(-50%);

            cursor: pointer;

            opacity: 1;
            transition: all 0.3s ease-out;

            div {
                display: flex;
                align-items: center;
                justify-content: center;

                font-family: 'BrandonGrotesque';
                font-size: 16px;
                font-weight: bold;

                height: 85px;
                width: 85px;
                border-radius: 50%;

                color: var(--clr-lightest);
                background-color: var(--clr-main);
            }

            &.hidden {
                opacity: 0;
            }
        }


        .video-close {
            position: absolute;
            background-color: transparent;
            color: var(--clr-darker);
            top: 20px;
            right: 20px;
            width: 30px;
            height: 30px;
            cursor: pointer;

            transition: opacity .5s;

            opacity: 0;

            &.hidden {
                opacity: 0 !important;
            }

            &:before,
            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 10%;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                background-color: var(--clr-lightest);
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }
        }

        &:hover .video-close {
            opacity: 1;
        }
    }
</style>
