<div class="video">
    <div id="video-player-box" class="player-box hidden">

        <video id="video-player" class="player" poster="/img/video-bg.png">
            <source src="https://www.ensotyres.com/videos/moved-by-enso.webm" type="video/webm">
            <source src="https://www.ensotyres.com/videos/moved-by-enso.mp4" type="video/mp4">
        </video>

        <div id="video-close-cta" class="video-close"></div>

    </div>

    <div id="video-play-cta" class="video-cta-box">
        <svg width="160" height="160" viewBox="0 0 160 160" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M77 151L80 154L83 151" stroke="white" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M77 149L80 152L83 149" stroke="white" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M77 147L80 150L83 147" stroke="white" stroke-linecap="round" stroke-linejoin="round"></path>
            <g filter="url(#filter0_b_5_344)">
                <circle cx="80" cy="80" r="62" fill="white" fill-opacity="0.15"></circle>
            </g>
            <circle cx="80" cy="80" r="79.5" stroke="white"></circle>
            <circle cx="9" cy="80" r="3.5" stroke="white"></circle>
            <path d="M146.5 75L149.5 78L146.5 81L150 84.5" stroke="white" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M149 75L152 78L149 81L152.5 84.5" stroke="white" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M151.5 75L154.5 78L151.5 81L155 84.5" stroke="white" stroke-linecap="round" stroke-linejoin="round"></path>
            <path
                    d="M36.456 84.696V74.104C36.456 73.944 36.584 73.8 36.76 73.8H40.52C42.488 73.8 44.104 75.4 44.104 77.336C44.104 79.32 42.488 80.936 40.536 80.936H38.536V84.696C38.536 84.856 38.392 85 38.232 85H36.76C36.584 85 36.456 84.856 36.456 84.696ZM38.536 78.984H40.392C41.288 78.984 42.04 78.264 42.04 77.32C42.04 76.44 41.288 75.768 40.392 75.768H38.536V78.984ZM45.9248 84.696V74.104C45.9248 73.944 46.0528 73.8 46.2288 73.8H47.7008C47.8608 73.8 48.0048 73.944 48.0048 74.104V83.08H52.0848C52.2608 83.08 52.3888 83.224 52.3888 83.384V84.696C52.3888 84.856 52.2608 85 52.0848 85H46.2288C46.0528 85 45.9248 84.856 45.9248 84.696ZM53.3345 85C53.0945 85 52.9665 84.792 53.0625 84.584L58.0385 73.816C58.0865 73.72 58.1665 73.64 58.3105 73.64H58.4705C58.6305 73.64 58.6945 73.72 58.7425 73.816L63.6705 84.584C63.7665 84.792 63.6385 85 63.3985 85H62.0065C61.7665 85 61.6545 84.904 61.5425 84.68L60.7585 82.952H55.9745L55.1905 84.68C55.1265 84.84 54.9825 85 54.7265 85H53.3345ZM56.7585 81.176H59.9745L58.3745 77.656H58.3265L56.7585 81.176ZM66.4438 84.696V79.608L62.7957 74.264C62.6677 74.056 62.7957 73.8 63.0518 73.8H64.6838C64.8118 73.8 64.8918 73.88 64.9398 73.944L67.4998 77.624L70.0598 73.944C70.1078 73.88 70.1878 73.8 70.3158 73.8H71.9638C72.2198 73.8 72.3478 74.056 72.2198 74.264L68.5238 79.592V84.696C68.5238 84.856 68.3798 85 68.2198 85H66.7478C66.5718 85 66.4438 84.856 66.4438 84.696ZM80.6471 84.984L75.7031 74.216C75.6071 74.008 75.7351 73.8 75.9751 73.8H77.6071C77.7511 73.8 77.8471 73.896 77.8791 73.976L80.9511 80.856H81.0631L84.1351 73.976C84.1671 73.896 84.2631 73.8 84.4071 73.8H86.0391C86.2791 73.8 86.4071 74.008 86.3111 74.216L81.3511 84.984C81.3031 85.08 81.2231 85.16 81.0791 85.16H80.9191C80.7751 85.16 80.6951 85.08 80.6471 84.984ZM87.7685 84.696V74.104C87.7685 73.944 87.9125 73.8 88.0725 73.8H89.5605C89.7205 73.8 89.8645 73.944 89.8645 74.104V84.696C89.8645 84.856 89.7205 85 89.5605 85H88.0725C87.9125 85 87.7685 84.856 87.7685 84.696ZM92.7841 84.696V74.104C92.7841 73.944 92.9121 73.8 93.0721 73.8H96.8641C99.9521 73.8 102.48 76.312 102.48 79.384C102.48 82.488 99.9521 85 96.8641 85H93.0721C92.9121 85 92.7841 84.856 92.7841 84.696ZM94.8481 83.048H96.6721C98.7521 83.048 100.272 81.48 100.272 79.384C100.272 77.304 98.7521 75.736 96.6721 75.736H94.8481V83.048ZM104.597 84.696V74.104C104.597 73.944 104.725 73.8 104.901 73.8H111.413C111.589 73.8 111.717 73.944 111.717 74.104V75.416C111.717 75.576 111.589 75.72 111.413 75.72H106.677V78.344H110.629C110.789 78.344 110.933 78.488 110.933 78.648V79.976C110.933 80.152 110.789 80.28 110.629 80.28H106.677V83.08H111.413C111.589 83.08 111.717 83.224 111.717 83.384V84.696C111.717 84.856 111.589 85 111.413 85H104.901C104.725 85 104.597 84.856 104.597 84.696ZM113.203 79.416C113.203 76.216 115.747 73.64 118.947 73.64C122.147 73.64 124.707 76.216 124.707 79.416C124.707 82.616 122.147 85.16 118.947 85.16C115.747 85.16 113.203 82.616 113.203 79.416ZM115.283 79.416C115.283 81.432 116.931 83.08 118.947 83.08C120.963 83.08 122.627 81.432 122.627 79.416C122.627 77.4 120.963 75.72 118.947 75.72C116.931 75.72 115.283 77.4 115.283 79.416Z"
                    fill="white"></path>
            <defs>
                <filter id="filter0_b_5_344" x="8" y="8" width="144" height="144" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                    <feGaussianBlur in="BackgroundImageFix" stdDeviation="5"></feGaussianBlur>
                    <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_5_344"></feComposite>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_5_344" result="shape"></feBlend>
                </filter>
            </defs>
        </svg>
    </div>


</div>

<script>

    const initVideo = () => {
        console.log('initVideo');

        const videoPlayerBox = document.getElementById('video-player-box');
        const videoPlayer = document.getElementById('video-player');
        const playBtn = document.getElementById('video-play-cta');
        const closeBtn = document.getElementById('video-close-cta');

        playBtn.addEventListener('click', () => {
            console.log('playBtn');

            videoPlayerBox.classList.remove('hidden');
            videoPlayer.play();
            videoPlayer.setAttribute('controls', 'controls');
            playBtn.classList.add('hidden');
            // closeBtn.classList.remove('hidden');
        });

        const closePlayer = () => {
            playBtn.classList.remove('hidden')
            videoPlayer.pause();
            videoPlayer.removeAttribute('controls');
            videoPlayerBox.classList.add('hidden');
            // closeBtn.classList.add('hidden');
        }

        videoPlayer.addEventListener('ended', closePlayer);
        closeBtn.addEventListener('click', closePlayer);
    }

    initVideo();

</script>

<style lang="scss" is:global>
    .video {
        height: 80vh;
        min-height: 440px;

        background-image: url("/img/video-bg.png");
        background-position: center center;
        background-size: cover;

        position: relative;

        .player-box {
            opacity: 1;
            transition: opacity .7s;
            background-color: black;

            position: fixed;
            height: 100vh;
            width: 100%;
            top: 0;
            left: 0;

            z-index: 10;

            .player {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }

            &.hidden {
                opacity: 0;
                z-index: -1;
            }
        }

        .video-cta-box {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translatex(-50%) translatey(-50%);

            cursor: pointer;

            opacity: 1;
            transition: opacity 1s;

            &.hidden {
                opacity: 0;
            }
        }


        .video-close {
            position: absolute;
            background-color: transparent;
            color: black;
            top: 20px;
            right: 20px;
            width: 30px;
            height: 30px;
            cursor: pointer;

            transition: opacity .5s;

            opacity: 0;

            &.hidden {
                opacity: 0 !important;
            }

            &:before,
            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 10%;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                background-color: white;
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }
        }

        &:hover .video-close {
            opacity: 1;
        }
    }
</style>
