---
import Button from "../button/Button.astro";
---

<div class="news-wr">
    <div class="news">
        <div class="news-box">
            <div class="news-list">
                <div class="news-list-title">NEWS</div>
                <div id="news-list" class="news-list-items">
                    <div class="news-item" data-idx="1">ENSO is very excited to be at the Goodwood Festival of Speed, to commercially launch the ENSO TX1, the world’s first ‘A’-rated EV tyre developed to extend the range of London’s electric taxis.</div>
                    <div class="news-item" data-idx="2">ENSO has launches its tyre store in London, offering its range-extending EV tyres to the London electric taxi market.</div>
                    <div class="news-item" data-idx="3">ENSO is proud to announce its innovative Pay-Per-Mile tyre for LEVC London electric taxis, to be launched in collaboration with ZETI, our digital fleet financing partner.</div>
                    <div class="news-item" data-idx="4">Enso Tyres is delighted to announce that it has been nominated to The Earthshot Prize, in the 'Clean Your Air' category. Thank you Cranfield University!</div>
                </div>
                <div class="news-list-btn-row">
                    <Button>View All</Button>
                </div>
            </div>
            <div id="news-img-box" class="news-img-box">
                <div class="news-img news-img-1 play"></div>
                <div class="news-img news-img-2"></div>
                <div class="news-img news-img-3"></div>
                <div class="news-img news-img-4"></div>
            </div>
        </div>
    </div>
</div>

<script>
    async function fetchAsync(url) {
        let response = await fetch(url);
        let data = await response.json();
        return data;
    }

    function htmlToElement(html) {
        var template = document.createElement('template');
        template.innerHTML = html;
        return template.content.firstChild;
    }

    const loadNews = async () => {
        const news = await fetchAsync('https://ensotyres.com/wp/wp-json/api/posts');
        console.log(news);

        const newsListBox = document.getElementById('news-list');
        const newsImgBox = document.getElementById('news-img-box');

        newsListBox.innerHTML = "";
        for (let i = 0; i < 4 && i < news.length; i++) {
            let newsItem = news[i];
            let htmlString = `<a href="https://www.ensotyres.com/news/${newsItem.slug}" class="news-item">${newsItem.title}</a>`;
            newsListBox.appendChild(htmlToElement(htmlString));
        }
    }

    // loadNews();

    const addEvent = () => {
        const newsListBox = document.getElementById('news-list');
        const newsImgBox = document.getElementById('news-img-box');


        newsListBox.addEventListener(
            "mouseover",
            (event) => {
                const idx = event.target.dataset.idx;

                const currentImg = document.querySelector('.news-img.play');
                const newImg = document.querySelector(`.news-img-${idx}`);

                console.log('currentImg', currentImg);
                console.log('newImg', newImg);
                if (currentImg && newImg) {
                    currentImg.classList.remove('play');
                    newImg.classList.add('play');
                }

            },
            false,
        );
    }

    addEvent();

</script>

<style lang="scss" is:global>
    .news-wr {
        background-color: white;

        padding-left: 90px;
        padding-right: 90px;

        .news {
            height: 80vh;
            min-height: 440px;

            .news-box {
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .news-list {
                    width: 50%;

                    .news-list-title {
                        font-size: 36px;
                        font-weight: bold;
                    }

                    .news-list-items {
                        padding: 20px 20px 20px 0;

                        .news-item {
                            display: block;
                            padding: 20px 30px 20px 0;

                            font-size: 16px;
                            font-weight: bold;

                            cursor: pointer;

                            color: grey;
                            text-decoration: none;

                            &:hover {
                                color: black;
                            }
                        }
                    }

                    .news-list-btn-row {
                        display: flex;
                    }
                }

                .news-img-box {
                    width: 45%;
                    height: 80%;

                    position: relative;

                    .news-img {
                        position: absolute;
                        //width: 100%;
                        //height: 100%;

                        $offset: 30px;

                        top: -$offset;
                        bottom: $offset;
                        //left: $offset;
                        //right: $offset;
                        left: 0;
                        right: 0;

                        background-position: center center;
                        background-size: cover;

                        opacity: 0;
                        transition: all 1.5s;

                        &.play {
                            opacity: 1;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                        }

                        &.news-img-1 {
                            background-image: url("/img/news1.jpg");
                        }

                        &.news-img-2 {
                            background-image: url("/img/news2.jpeg");
                        }

                        &.news-img-3 {
                            background-image: url("/img/news3.jpg");
                        }

                        &.news-img-4 {
                            background-image: url("/img/news4.jpg");
                        }
                    }

                }
            }
        }
    }
</style>
