<div class="slider-wr">
    <div class="slider">
        <div class="slide">
            <div class="slide-txt-box">
                <div class="slide-title">ABOUT ENSO</div>
                <div class="slide-txt">ENSO is developing sustainable tyres for electric vehicles, delivering sustainable mobility by improving the performance and environmental impact of tyres.</div>
            </div>
            <div class="slide-img-box"></div>
        </div>
    </div>
</div>

<style lang="scss" is:global>
    .slider-wr {
        background-color: white;

        padding-left: 90px;
        padding-right: 90px;
    }

    .slider {
        height: 80vh;
        min-height: 440px;

        .slide {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .slide-txt-box {
                width: 30%;

                .slide-title {
                    font-size: 36px;
                    font-weight: bold;
                }

                .slide-txt {
                    font-size: 14px;
                }
            }

            .slide-img-box {
                height: 80%;

                width: 50%;
                background-image: url("/img/slide1.png");
                background-position: center center;
                background-size: cover;
            }
        }
    }
</style>
