---
import Slide from "./Slide.astro";
---


<div class="slider-wr">
    <div id="slider" class="slider">
        <Slide
                title="THE MEANING OF ENSO"
                txt="We are often asked why we named our company ENSO. An ‘ensō’ in Zen Buddhism means a hand-drawn circle, created in a single brushstroke that symbolises strength, elegance, and the circularity of nature. Creating an ‘ensō’ circle relies on both concentration and mindfulness, clearing your mind while being fully present in the moment. When painted with black pigment, an ‘ensō’ also looks very much like a tyre. As a company developing a circular business model for tyres, we felt that ENSO gave us a clean and holistic tyre brand that symbolised that we are looking to work in harmony with nature, to bring together sustainability and better performance for electric vehicles. Ultimately it is vital that we take better care of our nature, people and planet, to find a balanced way of living. We would love you to join us on this journey and become part of our circle"
                imgUrl="/enso/img/slide3.png"
        />
        <Slide
                title="SOME MORE"
                txt="ENSO is looking to deliver tyres with uncompromised performance, without passing the cost to drivers or the environment, moving electric vehicles to a truly sustainable future."
                imgUrl="/enso/img/slide4.png"
        />
        <Slide
                title="SUSTAINABILITY"
                txt="ENSO is driven by sustainability and creating a balance in how we live and move – today and tomorrow. This belief is central to how we act, design and make our products, and how we build our business."
                imgUrl="/enso/img/slide2.png"
        />
        <Slide
                title="ABOUT ENSO"
                txt="ENSO is developing sustainable tyres for electric vehicles, delivering sustainable mobility by improving the performance and environmental impact of tyres."
                imgUrl="/enso/img/news2.jpeg"
        />


        <div class="slider-controls">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>

    </div>
</div>

<script>

    const initSlider = () => {
        const slider = document.getElementById('slider');

        const sliderPlay = () => {
            const playCls = 'slide-wr-hidden';
            const slideWrCls = 'slide-wr';

            const activeSlides = slider.querySelectorAll(`.${slideWrCls}:not(.${playCls})`);

            if (activeSlides.length > 1) {
                activeSlides[activeSlides.length - 1].classList.add(playCls);
            } else {
                slider.querySelectorAll(`.${slideWrCls}.${playCls}`).forEach(slide => slide.classList.remove(playCls));
            }
        }

        const sliderPlayInitial = () => {
            document.getElementById('slider').removeEventListener('mouseenter', sliderPlayInitial);
            setTimeout(() => {
                sliderPlay();
            }, 100);
        }

        // slider.addEventListener("mouseenter", sliderPlayInitial);
        slider.addEventListener("click", sliderPlay);
    }

    initSlider();

</script>

<style lang="scss" is:global>
    .slider-wr {
        background-color: white;
    }

    .slider {
        height: 80vh;
        min-height: 440px;

        position: relative;
        overflow: hidden;

        cursor: pointer;

        .slider-controls {
            position: absolute;
            //border: 2px solid red;
            display: flex;
            align-items: center;
            z-index: 1;
            left: 50%;
            bottom: 25px;
            transform: translateX(-50%);

            > div {
                margin: 0 20px;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                backdrop-filter: invert(1);
            }
        }

        .slide-wr {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            overflow: hidden;

            //transition: width 1s;
            transition: clip-path 1s;
            clip-path: polygon(0 0, 110% 0, 100% 100%, -10% 100%);

            background-color: white;
            color: black;

            &:nth-child(odd) {
                background-color: black;
                color: white;
            }

            & + .slide-wr {
                &.slide-wr-hidden {
                    //width: 0;
                    clip-path: polygon(-10% 0, 0 0, -10% 100%, 0 100%);

                    .slide {
                        .slide-txt-box {
                            margin-left: 30px;
                        }
                    }
                }
            }

            .slide {
                position: absolute;

                height: 80vh;
                width: 100vw;

                display: flex;
                justify-content: space-between;
                align-items: center;

                padding-left: 90px;
                padding-right: 90px;

                .slide-txt-box {
                    width: 30%;

                    margin-left: 0;

                    transition: all 1s 0s;

                    .slide-title {
                        font-size: 36px;
                        font-weight: bold;
                    }

                    .slide-txt {
                        font-family: BrandonGrotesque;
                        font-size: 17px;
                    }
                }

                .slide-img-box {
                    height: 80%;

                    width: 50%;
                    background-image: url("/img/slide1.png");
                    background-position: center center;
                    background-size: cover;
                }
            }
        }
    }
</style>
